<%= content_for :header do %>
	Setting - List Cases - Add Case
<% end %>
<%= content_for :Listheader do %>
	<li><a href="#">Setting</a></li>
	<li><a href="list_cases">List Cases</a></li>
	<li class="active">Add Case</li>
<% end %>
<div class="row">
	<div class="col-lg-3 col-md-3">
		<%= render 'all_setting' %>
	</div>
	<div class="col-lg-9 col-md-9">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<span class="my-heading">Add Case</span>
				<%=link_to 'Listing page' , list_cases_path , class:" icon-arrow-left15 pull-right"%>
			</div>
			<%= form_tag({:controller => "project", :action => "list_cases"}, :class=> "form-horizontal form-validate-jquery" )do %>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<label>Case Name  </label>
								<%= text_field_tag 'case_name' , nil , class: 'form-control' , :required => true %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<label>Case Details  </label>
								<%= text_area_tag 'case_details' , nil , class: 'form-control' , :required => true %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<label>Related to  </label>
								<select data-placeholder="Select a Opportunity" class="select" required = true>
									<option>
										<optgroup label="Opportunities">
											<option>BMS</option>
											<option>Mobi-print</option>
											<option>PGP</option>
											<option>Stadium</option>
										</optgroup>
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<label>Reported to  </label>
								<%= text_field_tag 'emp' , nil , class: "form-control" , value: "Karan Vyas" , :disabled => true %>
							</div>
						</div>
					</div>
					<div class="form-group" id="note_text">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<label>Note  </label>
								<%= text_area_tag 'note' , nil , class: "form-control" , :required => true %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="co-lg-8 col-md-8">
								<%= button_to 'Save' , nil , class: 'btn btn-primary' %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>