<!-- Collapsible lists -->
<div class="row">
	<div class="col-md-6">

		<!-- Collapsible list -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">User List</h5>
				<div class="heading-elements">
					<ul class="icons-list">
                		<li><a data-action="collapse"></a></li>
                		<li><a data-action="reload"></a></li>
                		<li><a data-action="close"></a></li>
                	</ul>
            	</div>
			</div>

			<ul class="media-list media-list-linked">
				<li class="media-header">Team leaders</li>

				<li class="media">
					<div class="media-link cursor-pointer" data-toggle="collapse" data-target="#james">
						<div class="media-left">
							<%= image_tag 'placeholder.jpg' , class: "img-circle" %>
						</div>
						<div class="media-body">
							<div class="media-heading text-semibold">Mayur Shah</div>
							<span class="text-muted">Last.fm</span>
						</div>
						<div class="media-right media-middle text-nowrap">
							<i class="icon-menu7 display-block"></i>
						</div>
					</div>

					<div class="collapse" id="james">
						<div class="contact-details">
							<ul class="list-extended list-unstyled list-icons">
								<li><i class="icon-pin position-left"></i> Palitana</li>
								<li><i class="icon-user-tie position-left"></i> Senior Developer</li>
								<li><i class="icon-phone position-left"></i> +1(800)431 8996</li>
								<li><i class="icon-mail5 position-left"></i> <a href="#">Mayur@Shah.com</a></li>
							</ul>
						</div>
					</div>
				</li>


				<li class="media-header">Office staff</li>

				<li class="media">
					<div class="media-link cursor-pointer" data-toggle="collapse" data-target="#bastian">
						<div class="media-left">
							<%= image_tag 'placeholder.jpg' , class: "img-circle" %>
						</div>
						<div class="media-body">
							<div class="media-heading text-semibold">Bastian Miller</div>
							<span class="text-muted">Yahoo</span>
						</div>
						<div class="media-right media-middle text-nowrap">
							<i class="icon-menu7 display-block"></i>
						</div>
					</div>

					<div class="collapse" id="bastian">
						<div class="contact-details">
							<ul class="list-extended list-unstyled list-icons">
								<li><i class="icon-pin position-left"></i> New York</li>
								<li><i class="icon-user-tie position-left"></i> Lead developer</li>
								<li><i class="icon-phone position-left"></i> +1(234)675 3904</li>
								<li><i class="icon-mail5 position-left"></i> <a href="#">bastian@miller.com</a></li>
							</ul>
						</div>
					</div>
				</li>

				<li class="media-header">Partners</li>

				<li class="media">
					<div class="media-link cursor-pointer" data-toggle="collapse" data-target="#freddy">
						<div class="media-left">
							<%= image_tag 'placeholder.jpg' , class: "img-circle" %>
						</div>
						<div class="media-body">
							<div class="media-heading text-semibold">Freddy Walden</div>
							<span class="text-muted">Microsoft</span>
						</div>
						<div class="media-right media-middle text-nowrap">
							<i class="icon-menu7 display-block"></i>
						</div>
					</div>

					<div class="collapse" id="freddy">
						<div class="contact-details">
							<ul class="list-extended list-unstyled list-icons">
								<li><i class="icon-pin position-left"></i> Amsterdam</li>
								<li><i class="icon-user-tie position-left"></i> Accountant</li>
								<li><i class="icon-phone position-left"></i> +3(234)653 5432</li>
								<li><i class="icon-mail5 position-left"></i> <a href="#">freddy@walden.com</a></li>
							</ul>
						</div>
					</div>
				</li>

				
			</ul>
		</div>
		<!-- /collapsible list -->

	</div>

	<div class="col-md-6">

		<!-- Custom handle -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Company List</h5>
				<div class="heading-elements">
					<ul class="icons-list">
                		<li><a data-action="collapse"></a></li>
                		<li><a data-action="reload"></a></li>
                		<li><a data-action="close"></a></li>
                	</ul>
            	</div>
			</div>

			<div class="panel-body">
				<ul class="media-list">
					<li class="media-header">Company</li>

					<li class="media">
						<div class="media-left">
						<%= image_tag 'placeholder.jpg' , class: "img-circle" %></div>
						<div class="media-body">
							<div class="media-heading text-semibold">Complitech Solution Private Limited.</div>
							<span class="text-muted">CSPL</span>
						</div>
						<div class="media-right media-middle">
							<ul class="icons-list text-nowrap">
								<li><a data-toggle="collapse" data-target="#james2"><i class="icon-menu7"></i></a></li>
							</ul>
						</div>

						<div class="collapse" id="james2">
							<div class="contact-details">
								<ul class="list-extended list-unstyled list-icons">
									<li><i class="icon-pin position-left"></i> Ahmedabad</li>
									<li><i class="icon-user-tie position-left"></i> IT Company</li>
									<li><i class="icon-phone position-left"></i> +1(800)431 8996</li>
									<li><i class="icon-mail5 position-left"></i> <a href="#">Complitech.net</a></li>
								</ul>
							</div>
						</div>
					</li>



					<li class="media">
						<div class="media-left">
							<%= image_tag 'placeholder.jpg' , class: "img-circle" %>
						</div>
						<div class="media-body">
							<div class="media-heading text-semibold">Vanessa Aurelius</div>
							<span class="text-muted">Facebook</span>
						</div>
						<div class="media-right media-middle">
							<ul class="icons-list text-nowrap">
								<li><a data-toggle="collapse" data-target="#vanessa2"><i class="icon-menu7"></i></a></li>
							</ul>
						</div>

						<div class="collapse" id="vanessa2">
							<div class="contact-details">
								<ul class="list-extended list-unstyled list-icons">
									<li><i class="icon-pin position-left"></i> Rome</li>
									<li><i class="icon-user-tie position-left"></i> Web developer</li>
									<li><i class="icon-phone position-left"></i> +8(344)658 4598</li>
									<li><i class="icon-mail5 position-left"></i> <a href="#">vanessa@aurelius.com</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- /custom handle -->
		
	</div>
</div>
<!-- /collapsible lists -->


