<%= content_for :header do %>
	Setting - List Cateogry
<% end %>
<%= content_for :Listheader do %>
	<li>Setting</li>
	<li class="active">List Category</li>
<% end %>
<div class="row">
	<div class="col-lg-3">
		<%= render 'all_setting' %>
	</div>
	<div class="col-lg-9">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<span class="my-heading">All Category</span>
					<%= link_to 'Add Category' , add_task_category_path , class: "btn btn-primary pull-right"%>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Call</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
								<tr>
									<td>Meeting</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
								<tr>
									<td>Follow-up</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
								<tr>
									<td>E Mail</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
								<tr>
									<td>Send</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
								<tr>
									<td>Milestone</td>
									<td><%= link_to '' , add_task_category_path , class: "glyphicon glyphicon-pencil" %></td>
									<td><%= link_to '' , add_task_category_path , class: "icon-cross" %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>